<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/profile.php?id=100008178555126" target="_blank">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="https://www.instagram.com/.m4nu.?igsh=aXBrenFhcG9hd3p3" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/manohar-singh-a50390222/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="mailto:burathimannu@gmail.com">
                <i class="fa-solid fa-envelope"></i>
            </a>
        </div>
        
        <div class="f-info-brand" >&copy; Tourly Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> 